:root {
  --bg: #0b0b0c;
  --fg: #f2f2f2;
  --text: rgba(242, 242, 242, 0.6);
  --line: rgba(241, 241, 241, 0.562);
  --heartColor: #ff0000;
  --heartOpacity: 0.35;

  --lineY: 350px;
}
body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.timeline {
  position: relative;
  width: 100vw;
  height: 900px;         
  overflow: hidden; 
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: var(--lineY);
  height: 3px;
  background: var(--line);
}

.moving{
  position: absolute;
  inset: 0;               
  will-change: transform; 
}

.ticks {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(var(--lineY) - 10px);
  height: 10px;
}
.tick {
  position: absolute;
  width: 3px;
  height: 10px;
  background: var(--line);
}

.heart {
  position:absolute;
  top: calc(var(--lineY) - 70px);
  left:900px;
  width: 70px;
  height: 70px;
  background-image: url("tranparetnSC.gif");
  background-size: contain;
}

.heart::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: var(--heartOpacity);
  background: var(--heartColor);
  -webkit-mask-image: url("tranparetnSC.gif");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  
}

.deadline {
  position: absolute;
  top: 300px;
  display: grid;
  place-items: center;
  gap: 10px;
  transform: translateX(-50%);
}

.deadline-block {
  width: 48px;
  height: 66px;
  border-radius: 4px;
  background: var(--fg);
  opacity: 0.9;
}

.deadline-text {
  font-size: 12px;
  color: var(--text);
}

#charField {
  position: relative;
  height:300px;
  width:auto;
  top: 500px;
  left: 20px;
  right: 20px;
  color: var(--text);
  font-size: 8px;
  line-height: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}